{{ clienteForm.value | json }}
<form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <app-text-field
      *ngFor="let item of this.formSchema"
      fxFlex="50%"
      [formValue]="item"
      [form]="this.clienteForm"
    ></app-text-field>
  </div>
  <button mat-raised-button [disabled]="clienteForm.invalid" type="submit">
    Guardar
  </button>

  <button mat-raised-button [disabled]="clienteForm.invalid" type="button" (click)="update()">
    UPdate
  </button>
</form>
