<span mat-dialog-title>Editar curso</span>
<div mat-dialog-content>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam excepturi,
    dolorum sint explicabo quae molestias ut repudiandae harum, impedit magni
    facilis magnam quidem provident sit, optio voluptates in dicta ducimus!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam excepturi,
    dolorum sint explicabo quae molestias ut repudiandae harum, impedit magni
    facilis magnam quidem provident sit, optio voluptates in dicta ducimus!
  </p>
  <pre>
      {{ curso | json }}
  </pre>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="handleClose()">Close</button>
</div>
