/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.p-1{
  padding: 0.5rem;
}
.p-2{
  padding: 1rem;
}
.mb-2{
  margin-bottom: 1rem;
}
.mt-2{
  margin-top: 1rem;
}
table {
  width: 100%;
}
.full {
  width: 100%;
}
.no-mb{
  margin-bottom: 0 !important;
}
app-text-field {
  padding-bottom: 0 !important;
}